table{
    border-collapse: collapse;
    border:2px solid rgb(red, green, blue);
    font-family: sans-serif;
    letter-spacing: 1px;
    width: 50%;
    margin: auto;
}
thead{
    background-color: rgba(94, 12, 12, 0.753);
}
th,td{
    border: 1px solid;
    padding: 8px 10px;
    border: none;
}

tbody{
    background-color: rgba(247, 112, 112, 0.486);
    text-align: center;
}
tfoot{
    background-color: rgb(130, 173, 173);
    text-align: center;
}
p{
    width: 600px;
}
img{
    width: 100px;
}
.icone_eliminar{
    width: 20px;
}